@font-face {
  font-family: "iconfont"; /* Project id 2636196 */
  src: url('iconfont.woff2?t=1624787745988') format('woff2'),
       url('iconfont.woff?t=1624787745988') format('woff'),
       url('iconfont.ttf?t=1624787745988') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-password:before {
  content: "\e75b";
}

.icon-usercenter:before {
  content: "\e773";
}

